:root {
    --bg-color: #022c22;

    --accent-color: #10b981;

    --accent-light: #6ee7b7;

    --text-color: #ecfdf5;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    border: 2px solid;
    color: var( --text-color);
}

.about h3,
p {
    font-size: 20px;
    padding: 5px;
}

.box {
    /* border: 2px solid red; */
    margin-top: 25px;
    display: flex;
}

