

:root{

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about{
    border: 2px solid;
}
.about h3,p{
    font-size: 20px;
    padding: 5px;
}
.aboutme{
    border: 2px solid red;
}