*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.skills-section{
    border: 4px solid;
    color: white;
}
.skills-container {
    border: 2px solid white;
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}

.tilt-card {
  width: 160px;
  height: 180px;
  border-radius: 20px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 0.2s ease;
  transform-style: preserve-3d;   
  perspective: 1000px;
  cursor: pointer;
}

.tilt-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  pointer-events: none;
  
}

.tilt-card h3 {
  font-size: 14px;
  opacity: 0;            
  transform: translateY(20px);
  transition: 0.3s ease;
}